<div class="quiz-window-2"></div>
<div class="quiz-window"></div>
<div class="quiz-window-3"></div>
<div class="correct_block"></div>
<div class="checked"></div>
</p>
<div class="status-bar"></div>
</p>
<div class="divider">
	<div id="pause" class="btn btn-primary btn-lg" style="width:150px; display: static;" onclick="pause_switch()">暫停</div>	<span class="time-bar"></span>
</div>
