<h1 style="text-align:center">尋找Tino</h1>

<div class="quiz-window-2"></div>
<div class="quiz-window"></div>
<div class="quiz-window-3"></div>

</p>
<div class="status-bar"></div>
</p>
<div class="divider">
	<div id="pause" class="btn btn-primary btn-lg" style="width:150px; display: static;" onclick="pause_switch()">暫停</div>	<span class="time-bar"></span>
</div>