<div style="display:block; width:900px;height:600px; margin-left:auto; margin-right:auto; background-image:url('/assets/poster_v2.jpg')" onclick="location.href='/menu'"></div>
</p>
<button class="btn btn-primary btn-lg" style="display:block; width:200px; margin-left:auto; margin-right:auto;" onclick="location.href='/menu'">進入遊戲</button>
</p>
<p style="text-align:center;font-size:16px;">製作人：謝昇佑，本程式原始碼皆開放於<a href="https://github.com/nkj20932/catcher">Github</a>，歡迎指教</p>