<div id="preload">
	<div style="width:600px;height:400px;background-image: url('/assets/1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/2.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/3.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/4.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/5.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/6.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/7.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/8.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/9.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/10.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/1-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/2-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/3-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/4-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/5-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/6-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/7-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/8-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/9-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/10-1.jpg');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/1-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/2-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/3-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/4-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/5-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/6-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/7-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/8-2.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/9-2.png');" ></div>
	<div style="width:412px;height:370px;background-image: url('/assets/correct.png');" ></div>
	<div style="width:297px;height:297px;background-image: url('/assets/wrong.png');" ></div>
	<div style="width:600px;height:297px;background-image: url('/assets/stage_done.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/stage_done_win.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/stage_done_lose.png');" ></div>
	<div style="width:600px;height:400px;background-image: url('/assets/pause.png');" ></div>
</div>