<div id="preload">
	<div style="width:600px;height:400px;background-image: url('/assets/1-1.jpg');" id="preload_1"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/2-1.jpg');" id="preload_2"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/3-1.jpg');" id="preload_3"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/4-1.jpg');" id="preload_4"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/5-1.jpg');" id="preload_5"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/6-1.jpg');" id="preload_6"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/7-1.jpg');" id="preload_7"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/8-1.jpg');" id="preload_8"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/9-1.jpg');" id="preload_9"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/10-1.jpg');" id="preload_10"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/1-2.png');" id="preload_11"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/2-2.png');" id="preload_12"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/3-2.png');" id="preload_13"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/4-2.png');" id="preload_14"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/5-2.png');" id="preload_15"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/6-2.png');" id="preload_16"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/7-2.png');" id="preload_17"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/8-2.png');" id="preload_18"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/9-2.png');" id="preload_19"></div>
	<div style="width:412px;height:370px;background-image: url('/assets/correct.png');" id="preload_20"></div>
	<div style="width:297px;height:297px;background-image: url('/assets/wrong.png');" id="preload_22"></div>
	<div style="width:600px;height:297px;background-image: url('/assets/stage_done.png');" id="preload_22"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/stage_done_win.png');" id="preload_23"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/stage_done_lose.png');" id="preload_24"></div>
	<div style="width:600px;height:400px;background-image: url('/assets/pause.png');" id="preload_25"></div>
</div>