<div class="everything">

<%= link_to "回主選單", menu_path, :class => "back-to-menu btn btn-success btn-lg", :id => "back-to-menu-id" %>
<div class="quiz-window-2" id="quiz-window-2-id"></div>
<div class="quiz-window" id="quiz-window-1-id"></div>
<div class="quiz-window-3" id="quiz-window-3-id"></div>
<div class="right_answer" id="right_answer-id"></div>
<div class="correct" id="correct-id"></div>
<div class="wrong" id="wrong-id"></div>
</p>
</p>
<div class="divider">
	<div id="pause" class="btn btn-primary btn-lg" style="width:100px; display: static;" onclick="pause_switch()">暫停</div>  	<span class="status-bar"><p style="position: absolute; font-size: 20px; padding-top: 7px; padding-left: 30px" id="stage1_score">得分：0</p></span>   <span class="time-bar"></span>
</div>
<% if !current_user %>
<p style="text-align:center; color: red">Notice: Progress will not be saved if not logged in. <%= link_to "Sign in", sign_in_path %> or <%= link_to "Sign up", sign_up_path %></p>
<% end %>
</div>

<script>
$(document).ready(function() {
	$(".quiz-window-3").css('display', 'none');
	position_windows();
	change_quiz();
	<% current_user.stage1_score = 1 %>
});
</script>